*.swc
*.swf
as3_hx_swc/obj/
haxe_test/as3_gen/
haxe_test/haxe_test.hxml
openfl_test/Export/
openfl_test/Source/com/
haxe_swc_lib/as3_gen/
haxe_swc_lib/src/com/
test3d/bat/SetupSDK.bat
test3d/src/com/
test3d/obj/
heaps_test/src/com/
heaps_test/obj/
heaps_test/bin/heapstest.js
heaps_test/bin/heapstest.js.map
hx_air_test/src/com/
hx_air_test/obj/
hx_air_test/bat/SetupSDK.bat
